@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536px;
  width: 97%;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*=================================
  Header styling starts here
=================================*/

header {
  height: 43px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}
header .wrapper {
  max-width: 1028px;
  margin: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation a {
  font-size: 18px;
  color: #080b0e;
  letter-spacing: 1px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/
.banner {
  position: relative;
}
h1 {
  margin: 38px 0 60px;
  font-size: 45px;
  font-weight: 500;
}
.banner figure {
  position: relative;
  height: 451px;
  width: 100%;
}
.banner img {
  height: 100%;
  object-fit: cover;
}
.banner p {
  display: inline-block;
  padding: 9px 28px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 24%;
  right: 3%;
  color: #000000;
}
.slider {
  height: 52px;
  width: 100%;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider a {
  width: 28px;
  height: 24px;
  text-indent: -999999px;
}
.slider span {
  float: right;
  text-indent: 0;
  width: 100%;
  height: 100%;
}
.slider span {
  font-size: 20px;
  color: #fff;
}
a[title="Previous"] {
  margin-left: 20px;
}
a[title="Next"] {
  margin-right: 20px;
}
a[title="Previous"] span,
a[title="Next"] span {
  font-size: 26px;
}
/*=================================
  banner styling ends here
=================================*/

/*=================================
  Offer styling starts here
=================================*/
.offer {
  padding: 60px 0;
}
h2 {
  position: relative;
  font-size: 27px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  color: #000;
  margin-bottom: 55px;
}
h2::after {
  content: "";
  width: 16%;
  height: 5px;
  background-color: #cccccc;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.offer-content {
  width: 100%;
  display: flex;
}
.offer-box {
  width: 25%;
  padding: 25px 21px 21px;
}
.offer-box:nth-child(1) {
  background-color: #f1f1f1;
}
.offer-box:nth-child(2) {
  background-color: #bbbbbb;
}
.offer-box:nth-child(3) {
  background-color: #616161;
}
.offer-box:nth-child(4) {
  background-color: #000000;
}
.offer-box h3 {
  font-size: 24px;
  margin-bottom: 13px;
  letter-spacing: 1px;
  color: #000;
}
.offer-box p {
  font-size: 14px;
  font-weight: 400;
}
.offer-box .white {
  color: #ffffff;
}
/*=================================
  Offer styling ends here
=================================*/
/*=================================
  Pricing styling starts here
=================================*/
.pricing {
  padding: 14px 0 78px;
}
.pricing h2 {
  margin-bottom: 10px;
}
.pricing h2:after {
  display: none;
}
.pricing p {
  text-align: center;
  font-size: 16px;
  color: #000;
  opacity: 0.8;
}
.table {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.table-content {
  width: 32.5%;
  border: 1px solid #dddddd;
  text-align: center;
}
.table-content h3 {
  background-color: #000;
  color: #fff;
  padding: 30px 10px;
  font-size: 25px;
  font-weight: 500;
}
.table-content:nth-child(2) h3 {
  background-color: #616161;
}
.bold-black {
  font-weight: 600;
  letter-spacing: 1px;
}
.storage,
.emails,
.domains,
.support {
  padding: 15px 10px;
  font-size: 18px;
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
}
.amount {
  padding: 30px 20px 14px;
  border-bottom: 1px solid #dddddd;
}
.amount span {
  display: block;
  font-size: 15px;
  color: #676767;
}
.amount .font-size {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 8px;
  color: #000;
  margin-bottom: 7px;
}
.sign-up {
  background-color: #f1f1f1;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up a {
  padding: 10px 31px;
  font-size: 16px;
  color: #ffffff;
  background-color: #4caf4f;
}
/*=================================
  Pricing styling ends here
=================================*/
/*=================================
  testimonial styling starts here
=================================*/
.testimonial {
  padding-bottom: 72px;
}
.testimonial h2::after {
  width: 13%;
}
.testimonial-content {
  display: flex;
  justify-content: space-between;
}
.testimonial-box {
  width: 32.3%;
  box-shadow: 0 3px 10px #555555;
}
.testimonial-box figure {
  height: 213px;
}
.testimonial-box img {
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 20px;
  padding-bottom: 15px;
  cursor: pointer;
}
.content h4 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 13px;
  color: #000000;
}
.description {
  color: #676767;
  font-weight: 400;
}
.content p {
  font-size: 15px;
  margin: 13px 0 12px;
}
.content a {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 16px;
  padding: 5.5px 0;
  color: #000;
}
/*=================================
  testimonial styling ends here
=================================*/
/*=================================
  contact styling starts here
=================================*/
.contact {
  padding-bottom: 68px;
}
.contact h2 {
  margin: 7px 0 80px;
  color: #280427;
}
.contact h2::after {
  width: 11.5%;
}
input,
textarea {
  width: 100%;
  font-size: 17px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  outline: none;
  margin-bottom: 9px;
  height: 39px;
  resize: none;
}
input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}
/*=================================
  contact styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  background-color: #f1f1f1;
  padding: 47px 0 20px;
}
footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h5 {
  font-size: 22px;
}
.to-top-btn a {
  padding: 8px 24px;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin: 27px 0 38px;
}
.to-top-btn a span {
  margin-right: 20px;
  font-size: 16px;
}
.social-icons {
  margin-bottom: 27px;
}
.social-icons li {
  width: 27px;
  height: 25px;
}
.social-icons li a {
  text-indent: -999999px;
}
.social-icons li a span {
  float: right;
  text-indent: 0;
  text-align: center;
  font-size: 27px;
  color: #000;
}

h6 {
  color: #251c42;
  font-size: 17px;
}
h6 a {
  color: #251c42;
  text-decoration: underline;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media (max-width: 768px) {
  header .wrapper {
    width: 90%;
    margin: auto;
  }

  .offer-box {
    width: 100%;
    padding: 25px 21px 21px;
  }
  .offer-content {
    flex-wrap: wrap;
  }
  .table {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .table-content {
    width: 80%;
    border: 1px solid #dddddd;
    text-align: center;
    margin: 20px auto;
  }
  .testimonial-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonial-box {
    width: 80%;
    margin: 20px auto;
  }
  .testimonial-box figure {
    height: 350px;
  }
}
@media (max-width: 600px) {
  .table-content {
    width: 90%;
  }
  .testimonial-box {
    width: 95%;
  }
}
